<footer class="container mt-5 footer-bg py-4">
    <div class="row">
        <div class="col-md-6">
            <p><strong>About Us:</strong><br>
            We are a software company based in Melbourne. We develop highly technical websites designed to fit our client's needs.
            Our primary focus is to develop database management websites and are readily accepting any experienced software engineers with a
            specialty in full-stack development.</p>
        </div>
        <div class="col-md-6">
            <p><strong>Contact Us:</strong><br>
            Email: sbaj0015@student.monash.edu<br>
            Student ID: 33310440<br>
            Phone: +61 123 456 789<br>
            Address: 123 Docker Nullpoint, Scenic Bvld, Melbourne VIC</p>
        </div>
    </div>
    <div class="text-center mt-3">
        <p>&copy; Shubh Bajpai. All rights reserved.</p>
    </div>
</footer>