<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <title>DataNest</title>
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('header.html') %>

    <main class="container py-5">
        <div class="jumbotron">
            <div class="container justify-content-center">
                <h1>Invalid Data Entered</h1><br>
                <p><a class="btn btn-primary btn-lg" href="/" role="button">Go to home</a></p>
            </div>
        </div>
    </main>

    <%- include('footer.html') %>
</body>
</html>